<section class="restro-section">
          <div class="container">
               <div class="row">
                    <div class="col-lg-4">
                         <div class="tm-feature">
                              <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
                              <h2>Lunch Special</h2>
                              <p class="tm-feature-description">Join us everyday till 3:00 PM to enjoy our
                                   mouth-watering lunch offers comprising of Indian-Vegetarian, Non-Vegetarian and Thai
                                   Entrees</p>
                         </div>
                    </div>
                    <div class="col-lg-4">
                         <div class="tm-feature">
                              <i class="fas fa-4x fa-building tm-feature-icon"></i>
                              <h2>Our Restaurant</h2>
                              <p class="tm-feature-description">At Curry and Noodle, we aspire to provide a pleasant
                                   environment with appetizing meals and charming staffs at your service.</p>
                         </div>
                    </div>
                    <div class="col-lg-4">
                         <div class="tm-feature">
                              <i class="fas fa-4x fa-map-marked-alt tm-feature-icon"></i>
                              <h2>TakeOut</h2>
                              <p class="tm-feature-description">Bring Curry &amp; Noodle to your doorstep. We offer a
                                   variety
                                   of delivery services and takeout!</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>