<footer class="restro-footer restro-section" data-aos="fade-up" data-aos-delay="100">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6 col-lg-3">
					<div class="restro-footer-widget mb-4">
						<h2 class="restro-heading-2">Deliver!</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><a href="#"><span>Doordash</span></a></li>
							<li class="d-flex"><a href="#"><span>Grubhub</span></a></li>
							<li class="d-flex"><a href="#"><span>Uber Eats</span></a></li>
						</ul>
						<ul class="restro-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class=""><a href="#"><span><i class="fab fa-twitter"></i></span></a></li>
							<li class=""><a href="#"><span><i class="fab fa-facebook"></i></span></a></li>
							<li class=""><a href="#"><span><i class="fab fa-instagram"></i></span></a></li>
							<li class=""><a href="#"><span><i class="fab fa-yelp"></i></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="restro-footer-widget mb-4">
						<h2 class="restro-heading-2">Hours</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><span class="day">Mon</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Tue</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Wed</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Thu</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Fri</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Sat</span><span>11:30 AM - 22:00 PM</span></li>
							<li class="d-flex"><span class="day">Sun</span><span>11:30 AM - 22:00 PM</span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="restro-footer-widget mb-4">
						<h2 class="restro-heading-2">Our Restaurants</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><a href="https://everestkitchennc.com/"><span>Everest Kitchen - Wendell, NC</span></a></li>
							<li class="d-flex"><a href="http://curryhousenc.com/"><span>Curry House - Wake Forest, NC</span></a></li>
							<li class="d-flex"><a href="https://kababandcurrync.com/"><span>Kabab and Curry - Raleigh, NC</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="restro-footer-widget mb-4">
						<h2 class="restro-heading-2">Curry &amp; Noodle</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><span>Fine Indian & Thai Cuisine</span></li>
							<li class="d-flex"><span>5232 Robinhood Village Drive, <br> Winston-Salem, NC 27106</span></li>
							<li class="d-flex"><span>Map & Directions</span></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved

					</p>
				</div>
			</div>
		</div>
	</footer>