<section id="full-footer" class="footer">

        <div class="footer-top">

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-xl-12 col-1">
                        <div class="col-md-12 logo justify-content-center">
                            <p>
                                <a href="index.html"><img src="images/mainlogo.png" alt="logo"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-1">

                       

                                <div class="social">
                                    <h3 class="mb-3">Fine Indian & Thai Cuisine</h3>
                                    <p>5232 Robinhood Village Drive,</p>
                                    <p>Winston-Salem, NC 27106</p>
                                    <p class="text">Around The Web</p>
                                    <ul>
                                        <li>
                                            <ul>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="instagram" href="#">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-4">

                        <h3 class="mb-3">Online Order!</h3>

                        <ul>
                            <li><a href="https://www.clover.com/online-ordering/curry-and-noodle-winstonsalem">Clover</a></li>
                        </ul>

                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-2">
                        <div class="address">
                            <h3 class="mb-3">Hours</h3>
                            <p><span>Mon </span><span>11:00 AM - 09:30 PM</span></p>
                            <p><span>Tue </span><span>Closed</span></p>
                            <p><span>Wed </span><span>11:00 AM - 09:30 PM</span></p>
                            <p><span>Thu </span><span>11:00 AM - 09:30 PM</span></p>
                            <p><span>Fri </span><span>11:00 AM - 10:00 PM</span></p>
                            <p><span>Sat </span><span>11:00 AM - 10:00 PM</span></p>
                            <p><span>Sun </span><span>11:00 AM - 09:00 PM</span></p>
                        </div>
                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-4">

                        <h3 class="mb-3">Our Restaurants</h3>

                        <ul>
                            <li><a href="https://everestkitchennc.com/">Everest Kitchen - Wendell, NC</a></li>
                            <li><a href="https://curryhousenc.com/">Curry House - Wake Forest, NC</a></li>
                            <li><a href="https://kababandcurrync.com/">Kabab and Curry - Raleigh, NC</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-left text-center">

                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
    
                        </p>

                    </div>

                    <div class="col-md-4 col-right d-none d-md-block">

                    </div>

                </div>

            </div>
        </div>

    </section>