<meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <title>Curry and Noodle</title>

    <!-- GOOGLE FONTS CSS -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,500,600,700,800&amp;display=swap"
        rel="stylesheet">

    <!-- FONTAWESOME CSS -->
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="css/vendors/bootstrap.min.css">

    <!-- ALERTIFY CSS -->
     <link rel="stylesheet" href="css/vendors/alertify.min.css">

    <!-- SLICK FOR SLIDER CSS -->
    <link rel="stylesheet" href="css/vendors/slick.css">
    <link rel="stylesheet" href="css/vendors/slick-theme.css">

    <!-- BOOTSTRAP DATETIME PICKER CSS -->
    <link href="datetimepicker/css/tempusdominus-bootstrap-4.css" rel="stylesheet">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/main/style.css">

    <!-- RESPONSIVE CSS -->
    <link rel="stylesheet" href="css/responsive/responsive.css">