<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

<meta name="description" content="Curry & Noodle brings you the best in Indian, Thai & Nepalese dishes, 
prepared with sumptuous taste & accompanied by our own house blends of sauces & spices">

<meta name="keywords" content="Curry and Noodle, Lunch Special, 
Takeout, Reservation, Naan, Paratha, Chicken Tandoori,
 Winston Salem, Crispy spring roll, Chicken Mo: Mo:, Edamame, Chilli Chicken,
 Gobi Manchurian, Samosa Chat, Mulligatwani Soup, Thukpa Soup, Chicken Tikka,
 Paneer Tikka, Kabab, Palak Paneer, Aloo Palak, Mushroom Shabnam, Vindaloo,
 Roasted garlic & vegetables, Eggplant Holy Basil, Thai Curry,
 Drunk man noodles, Spicy Ramen, Kashmiri Rogan Josh, Biryani, Pickle, Chutni,
 Badami Kheer, Thai Dragon Noodles
">

<link rel='shortcut icon' type='image/ico' href='images/favicon.ico' />

<title>Curry and Noodle - Fine Indian &amp; Thai Cuisine</title>

<!-- GOOGLE FONTS CSS -->
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,500,600,700,800&amp;display=swap"
    rel="stylesheet">

<!-- FONTAWESOME CSS -->
<link href="fontawesome/css/all.min.css" rel="stylesheet" />

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="css/vendors/bootstrap.min.css">

<!-- ALERTIFY CSS -->
<link rel="stylesheet" href="css/vendors/alertify.min.css">

<!-- SLICK FOR SLIDER CSS -->
<link rel="stylesheet" href="css/vendors/slick.css">
<link rel="stylesheet" href="css/vendors/slick-theme.css">

<!-- BOOTSTRAP DATETIME PICKER CSS -->
<link href="datetimepicker/css/tempusdominus-bootstrap-4.css" rel="stylesheet">

<!-- MAIN CSS -->
<link rel="stylesheet" href="css/main/style.css">

<!-- RESPONSIVE CSS -->
<link rel="stylesheet" href="css/responsive/responsive.css">