<section id="home" class="slider restro-height" data-stellar-background-ratio="0.5">
          <div class="row restro-height">

               <div class="owl-carousel owl-theme">
                    <div class="item item-first restro-height">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>Curry and Noodle</h3>
                                        <h1>Our mission is to provide an unforgettable experience</h1>
                                        <a href="#" class="section-btn btn btn-default">Order Online</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second restro-height">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>Your Perfect Dining</h3>
                                        <h1>The best dinning quality can be here too!</h1>
                                        <a href="/menu" class="section-btn btn btn-default">Discover
                                             menu</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third restro-height">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>New Restaurant in Town</h3>
                                        <h1>Enjoy our lunch special menu everyday till 3:00 PM</h1>
                                        <a href="#" class="section-btn btn btn-default">Reservation</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </section>