 <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="row">

               <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>Eatery Cafe &amp; Restaurant</h3>
                                        <h1>Our mission is to provide an unforgettable experience</h1>
                                        <a href="#team" class="section-btn btn btn-default">Meet our
                                             chef</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>Your Perfect Breakfast</h3>
                                        <h1>The best dinning quality can be here too!</h1>
                                        <a href="#menu" class="section-btn btn btn-default">Discover
                                             menu</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-8 col-sm-12">
                                        <h3>New Restaurant in Town</h3>
                                        <h1>Enjoy our special menus every Sunday and Friday</h1>
                                        <a href="#contact"
                                             class="section-btn btn btn-default">Reservation</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </section>