 <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

                  <div class="col-lg-6 col-sm-12">
                       <div class="about-info">
                            <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                 <h4>Read our story</h4>
                                 <h2>Curry and Noodle</h2>
                            </div>

                            <div class="wow fadeInUp" data-wow-delay="0.4s">
                                 <p>Located in Winston Salem, North Carolina in the Robinhood Village Shopping Center,
                                      <strong>
                                           Curry and
                                           Noodle</strong> brings you the best in Indian, Thai and Nepalese Cuisine.
                                      Our diverse
                                      menu offering
                                      provides you an exotic selection of Thai, Indian and Nepalese dishes prepared
                                      with sumptuous
                                      tastes, accompanied by our own house blends of various sauces and spices.
                                 </p>
                                 <p>Our Chef has over 20 years of experience and takes pride in creating
                                      mouth-watering flavors
                                      by using authentic and fresh ingredients that will have you coming back for
                                      more. <strong>Curry and
                                           Noodle</strong> welcomes you to come in and enjoy the unique experience and
                                      enlighten your taste
                                      buds.</p>
                            </div>
                       </div>
                  </div>

                  <div class="col-lg-6 col-sm-12">
                       <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                            <img src="images/MainMenu.jpg" class="img-responsive" alt="">
                       </div>
                  </div>

             </div>
        </div>
   </section>