 <nav class="navbar navbar-expand-lg restro-nav-js restro-navbar-theme">
          <div class="container">
               <a class="navbar-brand" href="index.html">C &amp N</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#restro-nav"
                    aria-controls="restro-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-utensils"></i>Menu
               </button>

               <div class="collapse navbar-collapse" id="restro-nav">
                    <ul class="navbar-nav ml-auto justify-content-center">
                         <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                         <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
                         <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right ml-auto justify-content-end">
                         <li><a href="callto:336-848-4050">Call Now! <i class="fa fa-phone"></i> 336-848-4050</a></li>
                         <a href="#" class="section-btn">Order Online</a>
                    </ul>
               </div>
          </div>
     </nav>