<nav id="navbar-id" class="navbar navbar-expand-lg navbar-fixed-top navbar-light cf-nav">
        <div class="container">

            <a id="logo" class="navbar-brand" href="/">
                <img src="images/mainlogo.png" alt="logo" class="img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-utensils"></i>Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#bookTableModal">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="callto:336-815-8033">Call Now! <i class="fa fa-phone"></i>
                            336-815-8033</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.clover.com/online-ordering/curry-and-noodle-winstonsalem">
                            <button type="button" class="btn all-btn shine">Order Online</button>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>