<section id="reservation">
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 col-sm-12 align-self-center">
                         <div class="left-text-content">
                              <div class="section-heading">
                                   <h2>Order a delivery or Just walk in to our restaurant</h2>
                              </div>
                              <div class="row mb-5">
                                   <div class="col-lg-12 col-sm-12">
                                        <div class="phone">
                                             <img class="logo" src="images/fooddelivery.png" alt="take-away">
                                             <h4>Deliver to your doorstep!</h4>
                                             <span><a href="#">Doordash</a></span><br>
                                             <span><a href="#">Grubhub</a></span><br>
                                             <span><a href="#">Uber Eats</a></span>
                                        </div>
                                   </div>
                              </div>

                              <div class="row">
                                   <div class="col-lg-6 col-sm-6">
                                        <div class="phone">
                                             <i class="fa fa-phone"></i>
                                             <h4>Phone Numbers</h4>
                                             <span><a href="callto:336-848-4050">336-848-4050</a></span>
                                        </div>
                                   </div>
                                   <div class="col-lg-6 col-sm-6">
                                        <div class="message">
                                             <i class="fa fa-envelope"></i>
                                             <h4>Emails</h4>
                                             <span><a href="mailto:curryandnoodlenc@gmail.com">info@noodleandcurry.com</a></span>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                         <div class="reserve-form">
                              <form id="reserve" action="" method="post">
                                   <div class="row">
                                        <div class="col-lg-12">
                                             <h4>Table Reservation</h4>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <fieldset>
                                                  <input name="name" type="text" id="name" placeholder="Your Name*"
                                                       required="">
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <fieldset>
                                                  <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                                       placeholder="Your Email Address" required="">
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <fieldset>
                                                  <input name="phone" type="text" id="phone" placeholder="Phone Number*"
                                                       required="">
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <fieldset>
                                                  <select value="number-guests" name="number-guests" id="number-guests">
                                                       <option value="number-guests">Number Of Guests</option>
                                                       <option name="1" id="1">1</option>
                                                       <option name="2" id="2">2</option>
                                                       <option name="3" id="3">3</option>
                                                       <option name="4" id="4">4</option>
                                                       <option name="5" id="5">5</option>
                                                       <option name="6" id="6">6</option>
                                                       <option name="7" id="7">7</option>
                                                       <option name="8" id="8">8</option>
                                                       <option name="9" id="9">9</option>
                                                       <option name="10" id="10">10</option>
                                                       <option name="11" id="11">11</option>
                                                       <option name="12" id="12">12</option>
                                                  </select>
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                  <input name="date" id="date" type="date" class="form-control"
                                                       placeholder="dd/mm/yyyy">
                                             </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                             <fieldset>
                                                  <select value="time" name="time" id="time">
                                                       <option value="time">Time</option>
                                                       <option name="Breakfast" id="Breakfast">Breakfast</option>
                                                       <option name="Lunch" id="Lunch">Lunch</option>
                                                       <option name="Dinner" id="Dinner">Dinner</option>
                                                  </select>
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                             <fieldset>
                                                  <textarea name="message" rows="6" id="message" placeholder="Message"
                                                       required=""></textarea>
                                             </fieldset>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                             <fieldset>
                                                  <button type="submit" id="form-submit" class="main-button-icon">Make A
                                                       Reservation</button>
                                             </fieldset>
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </section>