<!DOCTYPE html>
<html lang="en">


<head>
    {{>head}}

</head>

<body>

    <!-- PRELOADER START -->
    {{>preloader}}
    <!-- PRELOADER END -->
    <!-- Top Nav -->
    {{>topnav}}

    <!-- NAV BAR PART START -->
    {{>navh}}
    <!-- NAV BAR PART END -->

    <!-- SLIDER PART START -->
    <section id="full-slider">
        <div class="cf-slider">

            <div class="slider slider-1">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 slider-text">

                            <div class="content">

                                <h2>Welcome to</h2>
                                <h3>Curry and Noodle</h3>

                                <p class="d-sm-none d-md-none d-lg-none d-xl-none">Curry and Noodle does the business
                                    where
                                    customers have the access as
                                    far-from-home everyday food needs like on a one-stop-shop.</p>

                                <p class="d-none d-sm-block">Curry and Noodle does the business
                                    where
                                    customers have the access as
                                    far-from-home everyday food needs like on a one-stop-shop.
                                </p>

                                <a href="https://www.clover.com/online-ordering/curry-and-noodle-winstonsalem">
                                    <button type="button" class="btn slider-btn shine">Order Online</button>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="slider slider-2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 slider-text">

                            <div class="content">

                                <h2>New Restaurant in town</h2>
                                <h3>Curry and Noodle</h3>

                                <p class="d-sm-none d-md-none d-lg-none d-xl-none">Enjoy our lunch special menu everyday
                                    till 3:00 PM</p>
                                <p class="d-none d-sm-block">Enjoy our lunch special menu everyday till 3:00 PM
                                </p>

                                <a href="/menu">
                                    <button type="button" class="btn slider-btn shine">Uncover-the-Dishes</button>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="slider slider-3">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 slider-text">

                            <div class="content">

                                <h2>Your Perfect Dining</h2>
                                <h3>Curry and Noodle</h3>

                                <p class="d-sm-none d-md-none d-lg-none d-xl-none">The best dinning quality can be here
                                    too!</p>

                                <p class="d-none d-sm-block">The best dinning quality can be here too!
                                </p>
                                <a href="#reservation">
                                    <button type="button" class="btn slider-btn shine">Book-a-table</button>
                                </a>


                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="slider-arrows">
            <p class="left">
                <i class="fas fa-angle-left"></i>
            </p>
            <p class="right">
                <i class="fas fa-angle-right"></i>
            </p>
        </div>

    </section>
    <!-- SLIDER PART END -->

    <!-- ABOUT US PART START -->
    <section id="full-about-us" class="about-us">

        <div class="container">
            <div class="row">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 order-2 d-lg-none d-xl-none col-left">



                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-none d-lg-block col-left">



                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-right">

                    <div class="content">

                        <h2>What we are</h2>

                        <h1>Curry and Noodle - Fine Indian &amp; Thai Cuisine</h1>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                        <p class="headline">“We are open
                            for breakfast, lunch and dinner”</p>


                        <p class="d-md-none d-lg-none d-xl-none ">
                            Located in Winston Salem, North Carolina in the Robinhood Village Shopping Center,
                            <strong>
                                Curry and
                                Noodle</strong> brings you the best in Indian, Thai and Nepalese Cuisine.
                            Our diverse
                            menu offering
                            provides you an exotic selection of Thai, Indian and Nepalese dishes prepared
                            with sumptuous
                            tastes, accompanied by our own house blends of various sauces and spices.
                            <br><br>
                            Our Chef has over 20 years of experience and takes pride in creating
                            mouth-watering flavors
                            by using authentic and fresh ingredients that will have you coming back for
                            more. <strong>Curry and
                                Noodle</strong> welcomes you to come in and enjoy the unique experience and
                            enlighten your taste
                            buds.

                        </p>

                        <p class="d-none d-md-block d-xl-none">
                            Located in Winston Salem, North Carolina in the Robinhood Village Shopping Center,
                            <strong>
                                Curry and
                                Noodle</strong> brings you the best in Indian, Thai and Nepalese Cuisine.
                            Our diverse
                            menu offering
                            provides you an exotic selection of Thai, Indian and Nepalese dishes prepared
                            with sumptuous
                            tastes, accompanied by our own house blends of various sauces and spices.
                            <br><br>
                            Our Chef has over 20 years of experience and takes pride in creating
                            mouth-watering flavors
                            by using authentic and fresh ingredients that will have you coming back for
                            more. <strong>Curry and
                                Noodle</strong> welcomes you to come in and enjoy the unique experience and
                            enlighten your taste
                            buds.
                        </p>

                        <p class="d-none d-xl-block">
                            Located in Winston Salem, North Carolina in the Robinhood Village Shopping Center,
                            <strong>
                                Curry and
                                Noodle</strong> brings you the best in Indian, Thai and Nepalese Cuisine.
                            Our diverse
                            menu offering
                            provides you an exotic selection of Thai, Indian and Nepalese dishes prepared
                            with sumptuous
                            tastes, accompanied by our own house blends of various sauces and spices.
                            <br><br>
                            Our Chef has over 20 years of experience and takes pride in creating
                            mouth-watering flavors
                            by using authentic and fresh ingredients that will have you coming back for
                            more. <strong>Curry and
                                Noodle</strong> welcomes you to come in and enjoy the unique experience and
                            enlighten your taste
                            buds.
                        </p>

                        <div class="phone">
                            <p>Our Phone No.</p>
                            <p>+1-336-815-8033</p>
                        </div>

                        <div class="days">
                            <p>Opening Days</p>
                            <p>Any weekday but Tuesday</p>
                        </div>


                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- ABOUT US PART END -->

    <!-- SPECIAL PART START -->
    <section class="restro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <img src="images/healthy-eating.png" alt="Food being delivered">
                        <h2>Lunch Special</h2>
                        <p class="tm-feature-description">Join us everyday till 3:00 PM to enjoy our
                            mouth-watering lunch offers comprising of Vegetarian, Non-Vegetarian and Thai
                            Entrees</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <img src="images/food-store.png" alt="Restaurant">
                        <h2>Our Restaurant</h2>
                        <p class="tm-feature-description">At Curry and Noodle, we aspire to provide a pleasant
                            environment with appetizing meals and charming staffs at your service.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tm-feature">
                        <img src="images/map1.png" alt="Map with multiple pins">
                        <h2>TakeOut</h2>
                        <p class="tm-feature-description">Bring Curry &amp; Noodle to your doorstep. We offer
                             delivery services and takeout!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SPECIAL PART END -->

    <!-- BOOK A TABLE PART START -->
    <span class="anchor" id="reservation"></span>
    <section id="full-book-table" class="book-table">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8 col-left">

                    <div class="content text-center">

                        <h2>Book a Table</h2>

                        <h3>Come and Enjoy</h3>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-right">

                    <div class="content text-center">

                        <h3> Reservation</h3>

                        <form action="reservation" id="reserve" method="post">

                            <div class="input-group">

                                <input type="text" name="guests" class="form-control" autocomplete="off" placeholder="No. of Persons"
                                     />

                                <div class="input-group-append">

                                    <div class="input-group-text" id="persons">

                                        <i class="fas fa-user-friends"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">

                                <input type="text" name="date" class="form-control datetimepicker-input" id="datePicker"
                                    data-target="#datetimepicker4" autocomplete="off" placeholder="Date"
                                    onkeydown="return false" />

                                <div class="input-group-append" data-target="#datetimepicker4"
                                    data-toggle="datetimepicker">

                                    <div class="input-group-text" id="calendar">

                                        <i class="fa fa-calendar"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">

                                <input type="text" name="time" class="form-control datetimepicker-input" id="timePicker"
                                    data-target="#datetimepicker3" autocomplete="off" placeholder="Time"
                                    onkeydown="return false" />

                                <div class="input-group-append" data-target="#datetimepicker3"
                                    data-toggle="datetimepicker">

                                    <div class="input-group-text" id="time">

                                        <i class="fas fa-clock"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group">

                                <input type="text" name="name" class="form-control" autocomplete="off" placeholder="Your Name" />

                                <div class="input-group-append">

                                    <div class="input-group-text" id="yourname">

                                        <i class="fas fa-user-edit"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group">

                                <input type="text" name="phone" class="form-control" autocomplete="off"
                                    placeholder="Your Phone No." />

                                <div class="input-group-append">

                                    <div class="input-group-text">

                                        <i class="fas fa-phone"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group">

                                <input type="text" name="email" class="form-control" autocomplete="off" placeholder="Your Email" />

                                <div class="input-group-append">

                                    <div class="input-group-text">

                                        <i class="fas fa-at"></i>

                                    </div>

                                </div>

                            </div>

                            <div class="input-group">

                                <span class="input-group-btn">

                                    <button class="btn subbtn" id="reservation-sumbit" type="submit">Make a Reservation</button>

                                </span>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- BOOK A TABLE PART END -->

    {{!-- Opening Hours --}}
    <section id="full-about-us" class="opening-hours">

        <div class="container">
            <div class="row">



                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-left">

                    <div class="content">

                        <h2>Opening hours</h2>

                        <h3>Curry and Noodle</h3>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                        <p class="headline">“We are open
                            for breakfast, lunch and dinner”</p>


                        <p class="d-md-none d-lg-none d-xl-none ">
                            We are here to serve you: Be it breakfast, lunch or dinner. You can order a takeout or come
                            visit us. Be sure to check out our opening hours. We keep our business open on following
                            days

                        </p>

                        <p class="d-none d-md-block d-xl-none">
                            We are here to serve you: Be it breakfast, lunch or dinner. You can order a takeout or come
                            visit us. Be sure to check out our opening hours. We keep our business open on following
                            days
                        </p>

                        <p class="d-none d-xl-block">
                            We are here to serve you: Be it breakfast, lunch or dinner. You can order a takeout or come
                            visit us. Be sure to check out our opening hours. We keep our business open on following
                            days
                        </p>

                        <div class="hours">
                            <p>Closed on</p>
                            <p>Tuesday</p>
                        </div>

                        <div class="hours">
                            <p>11:00 AM to 09:30 PM</p>
                            <p>Monday, Wednesday &amp; Thursday</p>
                        </div>

                        <div class="hours">
                            <p>11:00 AM to 10:00 PM</p>
                            <p>Friday &amp; Saturday</p>
                        </div>
                        <div class="hours">
                            <p>11:00 AM to 09:00 PM</p>
                            <p>Sunday</p>
                        </div>

                    </div>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 order-2 d-lg-none d-xl-none col-right">



                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-none d-lg-block col-right">



                </div>

            </div>

        </div>

    </section>
    {{!-- Opening Hours End --}}

    <!-- FOOTER PART START -->
    {{>footer}}
    <!-- FOOTER PART END -->

    {{>scripts}}

</body>


</html>