  <!-- TESTIMONIAL PART START -->
    {{!-- <section id="full-testimonial" class="testimonial">

        <div class="container-fluid">

            <div class="col testimonial-title text-center">

                <div class="content">

                    <h2>Customers</h2>

                    <h3>Testimonials</h3>

                    <img src="images/title-shape.svg" alt="Title Shape Image">

                </div>

            </div>

            <div class="cf-testimonial-slider">

                <div class="testimonial-slider testimonial-slider-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">

                                <div class="content">

                                    <img class="client-img img-fluid" src="images/client-1.jpg" alt="Client 1 Image">

                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>

                                    <p class="headline">"I
                                        had such a wonderful evening yesterday, on my Birthday. The
                                        food
                                        was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                        ourselves"</p>

                                    <img class="double-quote" src="images/left-quote-color.png" alt="Quote">

                                    <p class="client-name">ABC. Yelp, 2020/02/03</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial-slider testimonial-slider-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">

                                <div class="content">

                                    <img class="client-img img-fluid" src="images/client-2.jpg" alt="Client 2 Image">

                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>

                                    <p class="headline">"I had such a wonderful evening yesterday, on my Birthday. The
                                        food
                                        was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                        ourselves"</p>

                                    <img class="double-quote" src="images/left-quote-color.png" alt="Quote">


                                    <p class="client-name">ABC. Yelp, 2020/02/03</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial-slider testimonial-slider-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">

                                <div class="content">

                                    <img class="client-img img-fluid" src="images/client-3.jpg" alt="Client 3 Image">

                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>

                                    <p class="headline">"I had such a wonderful evening yesterday, on my Birthday. The
                                        food
                                        was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                        ourselves"</p>

                                    <img class="double-quote" src="images/left-quote-color.png" alt="Quote">

                                    <p class="client-name">ABC. Yelp, 2020/02/03</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="testimonial-slider-arrows">
                <p class="testimonial-left">
                    <i class="fas fa-angle-left"></i>
                </p>
                <p class="testimonial-right">
                    <i class="fas fa-angle-right"></i>
                </p>
            </div>

        </div>
    </section> --}}
    <!-- TESTIMONIAL PART END -->

    {{!-- <section id="full-special" class="special">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 p-0 parallax-content">

                    <div class="background d-md-none d-lg-none d-xl-none">
                        <div class="background-inner">
                            <img class="background_img" src="images/testimonial.jpg" alt="Special Background Image">
                        </div>
                    </div>

                    <div class="background d-none d-md-block" style="transform: translate3d(0px, 27px, 0px);">
                        <div class="background-inner">
                            <img class="background_img" src="images/testimonial.jpg" alt="Special Background Image">
                        </div>
                    </div>

                    <div class="foreground d-md-none d-lg-none d-xl-none">

                        <div class="content text-center">

                            <h2>Our Food Gallery</h2>

                            <h3>Have a Peek at our food Gallery</h3>

                            <img src="images/title-shape.svg" alt="Title Shape Image">

                            <p>Here, we present our finger licking tasty dish served to very satisfied customers</p>

                        </div>

                    </div>

                    <div class="foreground d-none d-md-block" style="transform: translate3d(0px, 4px, 0px);">

                        <div class="content text-center">

                            <h2>Our Food Gallery</h2>

                            <h3>Have a Peek at our food Gallery</h3>

                            <img src="images/title-shape.svg" alt="Title Shape Image">

                            <p>Here, we present our finger licking tasty dish served to very satisfied customers</p>



                        </div>

                    </div>

                    <div class="special-menu-tabs-master">

                        <div class="special-menu-tabs">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">

                                        <div class="row grid menu-list" style="position: relative;">

                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food1.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food2.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food3.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food4.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food5.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food6.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food7.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food8.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food9.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/slider1.jpg">
                                                </div>
                                            </div>
                                            <div class="element-item items col-md-3 col-lg-3">
                                                <div class="inner-item">
                                                    <img src="images/food1.jpg">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section> --}}